<h1>Employee Information</h1>
<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @employee.dni %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @employee.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Company:</strong>
  <% if @employee.company.present?  %>
    <%= @employee.company.name %>
  <% end %>
</p>

<p>
  <strong>Role:</strong>
  <% if @employee.role.present?  %>
    <%= @employee.role.name %>
  <% end  %>
</p>

<%= link_to 'Listing Employees', employees_path %>